.contactForm {
    display: flex;
    flex-direction: column;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.img-box img {
    width: 265px;
}

.projectDiv {
    display: flex;
    flex-direction: column;
}